body{
    text-align:center;
    font-family: 'Roboto', sans-serif;
    background-color: #eee;
}
.form-control{
    text-align:center;
    width: 400px;
    margin:0 auto;

}
.btn-secondary{
                margin-top:30px;
                margin-bottom:18px;
            }
            #contenedor{
                float:left;
                margin-left:150px;
                border:ridge 20px;
                border-left:20px;
                border-radius:20px;



            }
            #contenedor2{
                float:left;
                margin-left:150px;
                border:ridge 20px;
                border-left:20px;
                border-radius:20px;


            }
            span{
                margin-left:8px;
                color:red;
                border-bottom: 2px solid red;
                margin:8px;
            }

