/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
<<<<<<< HEAD
    Created on : 07-sep-2021, 18:14:58
    Author     : lenovo
*/

body{
    font-family: 'Roboto', sans-serif;


}
.navbar-brand{
    font-family: 'Aquire',sans-serif;
}



